
<footer class="text-center mt-auto" style="position: fixed; bottom: 0; width:100%; background-color: #357;">
  <p class="mb-0" style="color: white;">
    Copyright &copy; 2024 FILIPE VENTURI
    </p>
  </footer>
</body>
</html>
<script src="/js/jquery-1.9.1.min.js"></script>     
    <script src="/js/easing.min.js"></script>
    <script src="/js/jquery.singlePageNav.min.js"></script>     
    <script src="/js/bootstrap.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    