
  <nav class="navbar tm-navbar navbar-white navbar-expand-md sticky-top" style="background-color: #357; width:100vw;" >              
          <a style=" color: white; " href="/" class="navbar-brand logo fs-3 ms-3">WEB PROJECTS</a>
                       
    
  </nav>

