<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Projetos do 2º Semestre 2024</h1>
        <p>Conheça nossos projetos inovadores!</p>
      </header>
      
      <main>
        <div class="projects">
          <div class="project">
            <h2>Analisador Léxico</h2>
            <p>Projeto da matéria Compiladores ministrada pelo professor Marcos</p>
            <a href="/">Saiba mais</a>
          </div>
          
          <div class="project">
            <h2>Resíduos Químicos</h2>
            <p>Projeto referente a matéria sistemas embarcados ministrada pela professora Sheila</p>
            <a href="/">Saiba mais</a>
          </div>
          
          <div class="project">
            <h2>Lixeira Separadora</h2>
            <p>Projeto da matéria análise orientada ao objeto ministrada pelo professor Celso</p>
            <a href="/">Saiba mais</a>
          </div>
        </div>
      </main>
      
      <footer>
        <p>&copy; 2024 Universidade Jorge Amado. Todos os direitos reservados.</p>
      </footer>
</body>
</html>