<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs")%>
      
      <main>
        <div class="projects">
          <div class="project">
            <h2>Ciclo do Enxofre</h2>
            <p>Projeto da Legislação Ambiental ministrada pela professora...</p>
            <a href="/slideshow">Saiba mais</a>
          </div>
          
          <div class="project">
            <h2>Resíduos Químicos</h2>
            <p>Projeto referente a matéria sistemas embarcados ministrada pela professora Sheila</p>
            <a href="/">Saiba mais</a>
          </div>
          
          <div class="project">
            <h2>Lixeira Separadora</h2>
            <p>Projeto da matéria análise orientada ao objeto ministrada pelo professor Celso</p>
            <a href="/">Saiba mais</a>
          </div>
        </div>
      </main>
      
      <%- include ("partials/footer.ejs") %>